:root {
  --primary-background: #877aff;
}

@font-face {
  font-family: Axiforma;
  src: url("../fonts/Axiforma-Thin.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: Axiforma;
  box-sizing: border-box;
}

.body-color {
  background-color: #EFF3F9;
}

.header {
  padding: 1rem 1rem;
  background-color: var(--primary-background);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav span {
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.header nav a {
  font-size: .9rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.main-content {
  max-width: 81.25rem;
  padding: 4rem 1.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-new-client-button {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.filter {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.filter label {
  font-weight: 600;
  font-size: 0.9rem;
}

.filter input {
  font-size: .9rem;
  outline: none;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  border: 1px solid #e7e2e7;
  background: #ECEDF2;
  color: black;
  font-weight: 600;
}

.new-client-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: Axiforma;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 6px;
  border: 0;
  font-weight: 500;
  background-color: var(--primary-background);
  color: white;
  cursor: pointer;
  padding: 0.4rem 1rem;
}

.new-client-button:hover {
  background-color: #766aff;
}

.new-client-button > i {
  color: white;
}

.new-client-button > span {
  color: white;
}

.modal-container {
  z-index: 2;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-duration: 0.2s;
}

.modal-container.active {
  opacity: 1;
  transition-duration: 0.2s;
}

.modal-content {
  border-radius: 8px 8px 6px 6px;
  background-color: #fefefe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: auto;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.header-modal {
  border-radius: 6px 6px 0 0;
  padding: 0.1rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background);
}

.title-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: white;
}

.close-button {
  position: relative;
  font-size: 1.625rem;
  cursor: pointer;
  color: white;
}

.icon {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  color: var(--primary-background);
}

.title {
  font-weight: 500;
  font-size: 0.9rem;
}

.form {
  padding: 2rem 1.2rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.field label {
  font-weight: 600;
  font-size: 0.9rem;
}

.field input {
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  border: 1px solid #e7e2e7;
  background: #ECEDF2;
  color: black;
  font-weight: 600;
  font-size: 1rem;
}

input::placeholder {
  color: #929292;
}

.message-error {
  font-size: .9rem;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  text-align: center;
  font-weight: 700;
  color: #D45F5F;
}

.confirm-data {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  background-color: #f5f5f5;
  padding: 0.6rem 1rem;
  border-radius: 0 0 4px 4px;
}

.cancel-button {
  font-size: 0.8rem;
  border: 1px solid #fb8f8f;
  border-radius: 6px;
  padding: 0.2rem .9rem;
  color: white;
  background-color: #fb8f8f;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #d45f5f;
}

.confirm-button {
  font-size: .9rem;
  border: 1px solid white;
  border-radius: 6px;
  padding: 0.4rem 2rem;
  color: white;
  background-color: var(--primary-background);
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #766aff;
}

.body-modal {
  border-radius: 50%;
}

.datatable {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.007);
  width: 100%;
  background-color: white;
  max-height: 37.5rem;
  min-height: 37.5rem;
  overflow-y: auto;
}

.table {
  min-width: 400px;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-family: sans-serif;
}

.table thead {
  z-index: 1;
  position: sticky;
  top: 0;
}

thead tr th {
  border: 1px solid rgb(235, 231, 231);
}

tbody td {
  border: 1px solid rgb(235, 231, 231);
}

.table thead th {
  padding: .625rem;
  font-size: 0.9rem;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  color: #333;
  font-weight: 600;
}

.table tbody tr {
  border-bottom: 1px solid #e5e5e5;
  font-weight: 600;
}

.table tbody td {
  padding: 1rem;
  text-align: left;
  color: #241937;
  font-weight: 600;
  font-size: 1rem;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tr:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.table tbody td:nth-child(2) {
  color: var(--primary-background);
}

.table th,
.table td {
  width: 100%;
  min-width: 12.5rem;
  max-width: 12.5rem;
  overflow-y: auto;
  white-space: nowrap;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: .375rem;
  padding: .5rem;
  background-color: var(--primary-background);
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
}

.edit-button:hover {
  background-color: #766aff;
}

.trash-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: .375rem;
  padding: .5rem;
  background-color: #fb8f8f;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
}

.trash-button:hover {
  background-color: #d45f5f;
}

.loader {
  padding-top: .85rem;
  display: none;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

.loader-table {
  width: 1.25rem;
  height: 1.25rem;
	border: .2em dotted currentcolor;
	border-radius: 50%;
	animation: 1s loader-table linear infinite;
}

.datatable::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.datatable::-webkit-scrollbar {
  width: 6px;
  height: 2px;
	background-color: #F5F5F5;
}

.datatable::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #555;
}

.table td::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #555;
}

.table td::-webkit-scrollbar-track-piece {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.table td::-webkit-scrollbar {
  height: 4px;
  background-color: #F5F5F5;
}

@keyframes loader-table {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 1000px) {
  .new-client-button {
    padding: 0.4rem .8rem;
  }

  .table tbody td {
    font-size: .9rem;
  }

  .table thead tr th {
    font-size: .8rem;
  }

  .table th,
  .table td {
    min-width: 10rem;
    max-width: 10rem;
  }

  .modal-content {
    width: 90%;
  }

  .field {
    max-width: 100%;;
  }

  .trash-button {
    font-size: 1rem;
  }

  .edit-button {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .table tbody th,
  .table tbody td {
    font-size: .79rem;
    padding: 0.813rem;
    padding: 0.813rem;
    min-width: 9.5rem;
    max-width: 9.5rem;
  }

  .options {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .header nav span {
    color: white;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 700;
  }
  
  .header nav a {
    font-size: .8rem;
    font-weight: 700;
  }

  .content-new-client-button {
    flex-direction: column;
    width: 100%;
  }

  .filter {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .filter input {
    width: 100%;
  }

  .new-client-button {
    width: 100%;
  }
}

